*{
    margin: auto;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: grid;
    grid-template-areas: 
    "top  top  top  top  top"
    "main main main main side"
    "main main main main side"
    "main main main main side"
    "foot foot foot foot foot";
    background-color: #fff;
}
.top{
    background-color: rgb(40, 40, 40);
    color: #fff;
    grid-area: top;
    width: 100%;
    font-size: 2vh;
    height: max-content;
    padding: 1em;
}
footer{
    grid-area: foot;
    background-color: rgb(40, 40, 40);
    text-align: right;
    padding: 0vh 1vw;
    color: #fff;
    width: 100%;
    height: 18.5vh;
    font-size: 2vh;
    text-decoration: underline #f27932;
}
aside{
    grid-area: side;
    border-left: #000 2px solid;
    border-collapse: collapse;
    margin-right: 0vw;
    width: 30vw;
    height: 75vh;
    background-color: #f27932;
    padding: 1vw;
    font-size: 2vh;
}
.link{
    color: #fff;
    text-decoration: none;
    float: left;
    padding: 0% 1%;
}
.sidelink{
    color: #fff;
    text-decoration: none;
    float: right;
    padding: 0% 1%;
}
.sidelink:hover ,.link:hover{
    animation-name: Glow;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
@keyframes Glow{
    0%{color: #fff;}
    25%{Color: #f27932;}
    75%{color:#575b78;}
    100%{color: #fff;}
}
img{
    width: 100%;
    height: 100%;
    border: #f27932 .5vw solid;   
}
figure{
    border: rgb(40, 40, 40) solid 0.5vw;
    width: 25.95vw;
    float: left;
    font-size: 2vh;
}
#yap{
    font-size: 2vh;
    text-overflow:ellipsis;
    padding: 1%;
    text-align: right;
    float: right;
    margin-left: 0%;
}
#yap::selection{
    color: #575b78;
    background-color: #f27932;
}
h3{
    font-size: 2vh;
    padding: 10px;
}